<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/weather logo.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>{{title}} | WeatherApp</title>
</head>

<body>
    {{>header}}
    <div class="content">
        <img src="img/creatorPic.jpg" class='creatorPic'>
        <p class='aboutParagraph'>Hi, I'm Jean and I've been studying Software Engineering since 2017. My interest
            exists since before that,
            back in 2014 I already tryed to start, but it was very hard to me. When I finished school I enrolled in a
            course and learn the basics of C# and PHP. It was pretty awesome, but one day I see a channel on YouTube
            named 'The Coding Train' and Daniel made me fall in love with JS, so I learn somethings on his channel until
            the day I see another channel on YouTube: 'Filipe Deschamps', Filipe introduced me to NodeJS. I bought
            Andrew's course and now I'm learning how to use NodeJS to eventually work as a programmer using NodeJS</p>
    </div>
    {{>footer}}
</body>

</html>