<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Home | WeatherApp</title>
</head>

<body>
    {{>header}}
    <div class="content"></div>

    {{>footer}}
</body>

</html>