<footer>
    <div class="footerContainer">
        <div class='divLogo'>
            <div>
                <img src="img/weather logo.png" alt="" class='footerLogo'>
                <p>WeatherApp</p>
            </div>
        </div>
        <div class='divDescription'>
            <p>This is a project to learn how to use NodeJS with express, The goal is to show some weather information
                requesting the data from a API and showing in the browser</p>
        </div>
        <div class='divMenu'>
        </div>
        <p>Created by {{name}}</p>
    </div>
</footer>