<footer>
    <div class="footerContainer">
        <div class='divLinha'>

            <div class='divLogo'>
                <div>
                    <img src="img/weather logo.png" alt="" class='footerLogo'>
                    <p>WeatherApp</p>
                </div>
            </div>
            <div class='divDescription'>
                <p>This is a project to learn how to use NodeJS with express, The goal is to show some weather
                    information
                    requesting the data from a API and showing in the browser.</p>
            </div>
            <div class='divMenu'>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class='clearfix'></div>
    <p class='nameP'>©2019 WeatherApp. Created by {{name}} to study how NodeJs works, it's definitely being pretty fun!
    </p>
</footer>