* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #1f1f1f;
    color: #aaa;
    min-height: 100vh;

}

h1 {
    color: #aaa;
    font-size: 60px;
    font-weight: 50;
}

header {
    height: 100px;
    background-color: #282828;
}

header h1 {
    color: #ffffff;
    margin-top: 10px;
    text-shadow: 2px 2px 2px #aaaaaa;
}

header li {
    display: inline;
}

.divTitle {
    font-size: 40px;
    font-weight: 10;
    float: left;
    padding-left: 30px;
    width: 600px;
}

.divNav {
    float: right;
    padding-right: 30px;
    font-size: 30px;
    height: 100px;

}

.divNav ul {
    margin-top: 30px;
    margin-bottom: auto;

}

header a {
    text-decoration-line: none;
}

header img {
    float: left;
    height: 60px;
    width: auto;
    margin-top: 18px;
    padding-right: 20px;
}

header a {
    color: #aaa;
}

.content {
    padding: 30px;
    width: 1140px;
    margin: 0 auto;
    min-height: 85vh;
}

.creatorPic {
    height: 300px;
    width: auto;
    margin: 0 auto;
}

.aboutParagraph {
    text-align: justify;
    font-size: 20px;
    padding-top: 10px;
}

/* Styling the footer */
footer {
    height: 300px;
    background-color: #282828;
}

.footerContainer {
    margin-left: auto;
    margin-right: auto;

    width: 1140px;
    padding-top: 16px;
    height: 250px;

}



.divLogo,
.divDescription,
.divMenu {

    width: 380px;
    float: left;
    height: 180px;

    margin-top: 30px;




}

.divLogo {
    border-right: 1px solid #aaa;
}

.divLogo div {
    height: 60px;
    width: 210px;
    margin: auto;
    margin-top: 50px;
}



.divLogo img {
    height: 80px;
    width: auto;
    float: left;

}

.divLogo p {
    font-size: 20px;
    position: relative;
    top: 40%;
    left: 5%;
}

.divDescription p {
    text-align: justify;
    padding: 10px;
    padding-top: 45px;
}

.divDescription {
    border-right: 1px solid #aaa;

}

.divMenu ul {
    list-style-type: none;
    font-size: 25px;
    position: relative;
    left: 10%;
    top: 25%;
}

.divMenu a {
    text-decoration: none;
    text-decoration-color: #aaa;
    color: #aaa;
}

.nameP {
    padding-top: 10px;
    font-size: 10px;
    text-align: center;
}

.divLinha {
    margin-top: 10px;
    border-top: 1px solid #aaa;
}

form {
    display: flex;
    width: 700px;
    align-items: center;
    margin: 0 auto;
}

input {
    margin-left: 10px;
    font-size: 26px;
    width: 600px;
    border-radius: 2px;
    box-shadow: none;
    border: 0;
    height: 40px;
    background-color: #121212;
    outline: none;
    color: #aaaaaa;
}

button {
    height: 40px;
    border: 0;
    color: #aaa;
    background-color: #393939;
    width: 60px;
    border-radius: 2px;
}

.container-input {
    position: relative;
    width: 610px;
    align-items: center;
    margin: 0 auto;
    background-color: #121212;
    float: left;
    border-radius: 2px;
}

.div-input {
    width: 670px;
    margin: 0 auto;
}

::-webkit-input-placeholder {
    color: #505050;
}

.icon-search {
    height: 25px;
    width: auto;
    color: #aaaaaa;
}

g {
    color: red;
}

svg {
    fill: #aaaaaa;
}

.forecast-result {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#message-one {
    text-align: center;
    font-size: 60px;
}

#message-two {
    padding-top: 15px;
    font-size: 24px;
    text-align: justify;
}